<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.kevinharlan.moneydance.rotate</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/kevinharlan/Library/Scripts/moneydance_rotate_backups.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>8</integer>
      <key>Minute</key>
      <integer>00</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/kevinharlan/Library/Logs/moneydance_rotate_backups.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/kevinharlan/Library/Logs/moneydance_rotate_backups.err</string>
    <key>WorkingDirectory</key>
    <string>/</string>
  </dict>
</plist>
